In [1]:
import pandas as pd

In [2]:
from data_quality import cargue_datasets_c
casos, edu_vial2018, hurto_tp, mede_victimas, compar = cargue_datasets_c()

In [3]:
from data_quality import casos_c
casos=casos_c(casos)

In [4]:
from data_quality import hurto_tp_c
hurto_tp= hurto_tp_c(hurto_tp)

In [5]:
hurto_tp

,Comuna,Año,Autobus,Metro,Taxi,Casado(a),Divorciado(a),Sin dato,Soltero(a),Unión marital de hecho,Viudo(a),Sexo,Bien
0,2.0,2004,0,0,8,3,0,4,0,1,0,Hombre,"[Accesorios prendas de vestir, Peso, Sin dato]"
1,2.0,2004,0,0,8,3,0,4,0,1,0,Mujer,Peso
2,5.0,2004,0,0,2,0,0,1,1,0,0,Hombre,Peso
3,10.0,2004,0,0,2,0,0,1,1,0,0,Hombre,Peso
4,11.0,2004,0,0,2,0,0,1,0,1,0,Hombre,Peso
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,16.0,2023,10,5,11,7,0,0,12,7,0,Hombre,Celular
609,16.0,2023,10,5,11,7,0,0,12,7,0,Mujer,Celular
610,60.0,2023,0,3,1,0,0,0,4,0,0,Hombre,Celular
611,60.0,2023,0,3,1,0,0,0,4,0,0,Mujer,"[Billetera, Cédula]"
612,90.0,2023,0,0,3,0,0,0,3,0,0,Mujer,"[Celular, Computador, Cédula]"

In [6]:
df = pd.merge(casos, edu_vial2018, on=["Comuna","Año"], how="inner")
df = pd.merge(df, hurto_tp, on=["Comuna","Año"], how="inner")
df = pd.merge(df, mede_victimas, on=["Comuna","Año"], how="inner")
df = pd.merge(df, compar, on=["Comuna","Año"], how="inner")
df

MemoryError: Unable to allocate 3.56 TiB for an array with shape (488720144754,) and data type int64