In [1]:
import pandas as pd

In [2]:
from data_quality import cargue_datasets_c
casos, edu_vial2018, hurto_tp, mede_victimas, compar = cargue_datasets_c()

In [3]:
edu_vial2018 = edu_vial2018.drop("Fecha", axis=1)
hurto_tp = hurto_tp.drop("Fecha", axis=1)
mede_victimas = mede_victimas.drop("Fecha", axis=1)
compar = compar.drop("Fecha", axis=1)

In [4]:
#Adaptación para la unión
casos_pv=casos.pivot_table(index=["Año", "Comuna"], columns="Conducta", values="Cantidad_casos")

In [6]:
hurto__1 = hurto_tp.pivot_table(index=["Año", "Comuna"], columns="Transporte", values= "Sexo", aggfunc="count", fill_value=0)
hurto_0 = hurto_tp.pivot_table(index=["Año", "Comuna"], columns="Estado_civil", values= "Sexo", aggfunc="count", fill_value=0)
hurto_0 = pd.merge(hurto_0, hurto__1, on=["Comuna","Año"], how="inner")
hurto_0

,,Casado(a),Divorciado(a),Sin dato,Soltero(a),Unión marital de hecho,Viudo(a),Autobus,Metro,Taxi
Comuna,Año,,,,,,,,,
2.0,2004,3,0,4,0,1,0,0,0,8
5.0,2004,0,0,1,1,0,0,0,0,2
10.0,2004,0,0,1,1,0,0,0,0,2
11.0,2004,0,0,1,0,1,0,0,0,2
12.0,2004,0,0,2,2,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...
14.0,2023,13,2,1,67,7,0,21,51,18
15.0,2023,3,1,2,14,6,0,9,5,12
16.0,2023,7,0,0,12,7,0,10,5,11
60.0,2023,0,0,0,4,0,0,0,3,1
90.0,2023,0,0,0,3,0,0,0,0,3

In [11]:
hurto_1 = hurto_tp.groupby(['Año', 'Comuna', 'Sexo'])['Edad'].mean().reset_index()
hurto_1['edad_promedio'] = hurto_1['Edad'].round()
hurto_1= hurto_tp.groupby(['Año', 'Comuna', 'Sexo'])['Lugar'].agg(pd.Series.mode).reset_index()
hurto_1= hurto_tp.groupby(['Año', 'Comuna', 'Sexo'])['Bien'].agg(pd.Series.mode).reset_index()
hurto_t = pd.merge(hurto_0, hurto_1, on=["Comuna","Año"], how="inner")
hurto_t

,Comuna,Año,Casado(a),Divorciado(a),Sin dato,Soltero(a),Unión marital de hecho,Viudo(a),Autobus,Metro,Taxi,Sexo,Bien
0,2.0,2004,3,0,4,0,1,0,0,0,8,Hombre,"[Accesorios prendas de vestir, Peso, Sin dato]"
1,2.0,2004,3,0,4,0,1,0,0,0,8,Mujer,Peso
2,5.0,2004,0,0,1,1,0,0,0,0,2,Hombre,Peso
3,10.0,2004,0,0,1,1,0,0,0,0,2,Hombre,Peso
4,11.0,2004,0,0,1,0,1,0,0,0,2,Hombre,Peso
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,16.0,2023,7,0,0,12,7,0,10,5,11,Hombre,Celular
609,16.0,2023,7,0,0,12,7,0,10,5,11,Mujer,Celular
610,60.0,2023,0,0,0,4,0,0,0,3,1,Hombre,Celular
611,60.0,2023,0,0,0,4,0,0,0,3,1,Mujer,"[Billetera, Cédula]"
612,90.0,2023,0,0,0,3,0,0,0,0,3,Mujer,"[Celular, Computador, Cédula]"

In [8]:
muestra_casos = casos_pv.sample(frac=0.1)
muestra_edu_vial2018 = edu_vial2018.sample(frac=0.1)
muestra_hurto_tp = hurto_tp.sample(frac=0.1)
muestra_mede_victimas = mede_victimas.sample(frac=0.1)
muestra_compar = compar.sample(frac=0.1)

In [9]:
df = pd.merge(casos_pv, muestra_edu_vial2018, on=["Comuna","Año"], how="inner")
df = pd.merge(df, muestra_hurto_tp, on=["Comuna","Año"], how="inner")
df = pd.merge(df, muestra_mede_victimas, on=["Comuna","Año"], how="inner")
#df = pd.merge(df, muestra_compar, on=["Comuna","Año"], how="inner")
df

,Comuna,Año,Extorsión,Homicidio,Hurto a persona,Hurto a residencia,Hurto de carro,Hurto de moto,Hurto de semoviente,Acciones,...,Modalidad,Conducta,Lugar,Bien,Gravedad_victima,Clase_incidente,Sexo_y,Edad_y,Condicion,Mes
0,1.0,2019,14.0,21.0,303.0,82.0,11.0,110.0,NaN,Socializacion_Proyectos_Movilidad_Conglomerado...,...,Atraco,No,Vía pública,Peso,Heridos,Choque,M,19,Motociclista,Ene
1,1.0,2019,14.0,21.0,303.0,82.0,11.0,110.0,NaN,Socializacion_Proyectos_Movilidad_Conglomerado...,...,Atraco,No,Vía pública,Peso,Heridos,Choque,M,34,Motociclista,Dic
2,1.0,2019,14.0,21.0,303.0,82.0,11.0,110.0,NaN,Socializacion_Proyectos_Movilidad_Conglomerado...,...,Atraco,No,Vía pública,Peso,Heridos,Choque,M,14,Motociclista,Nov
3,1.0,2019,14.0,21.0,303.0,82.0,11.0,110.0,NaN,Socializacion_Proyectos_Movilidad_Conglomerado...,...,Atraco,No,Vía pública,Peso,Heridos,Otro,M,23,Motociclista,Nov
4,1.0,2019,14.0,21.0,303.0,82.0,11.0,110.0,NaN,Socializacion_Proyectos_Movilidad_Conglomerado...,...,Atraco,No,Vía pública,Peso,Heridos,Atropello,M,20,Peatón,Jul
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3634012,90.0,2019,7.0,7.0,254.0,113.0,11.0,20.0,NaN,Otros_Instituciones_Educativas,...,Cosquilleo,Sin dato,Vía pública,Celular,Heridos,Choque,M,15,Acompañante de motocicleta,Sept
3634013,90.0,2019,7.0,7.0,254.0,113.0,11.0,20.0,NaN,Otros_Instituciones_Educativas,...,Cosquilleo,Sin dato,Vía pública,Celular,Heridos,Choque,F,23,Ciclista,Oct
3634014,90.0,2019,7.0,7.0,254.0,113.0,11.0,20.0,NaN,Otros_Instituciones_Educativas,...,Cosquilleo,Sin dato,Vía pública,Celular,Heridos,Caida Ocupante,M,28,Motociclista,Dic
3634015,90.0,2019,7.0,7.0,254.0,113.0,11.0,20.0,NaN,Otros_Instituciones_Educativas,...,Cosquilleo,Sin dato,Vía pública,Celular,Muertos,Choque,M,36,Motociclista,Ago
3634016,90.0,2019,7.0,7.0,254.0,113.0,11.0,20.0,NaN,Otros_Instituciones_Educativas,...,Cosquilleo,Sin dato,Vía pública,Celular,Heridos,Choque,F,39,Pasajero,May

In [10]:
df = df.drop(df.columns[[4]], axis=1)