In [6]:
import pandas as pd

In [7]:
from data_quality import cargue_datasets_c
casos, hurto_tp, mede_victimas, compar = cargue_datasets_c()

In [8]:
from data_quality import casos_c
casos=casos_c(casos)

In [9]:
from data_quality import hurto_tp_c
hurto_tp= hurto_tp_c(hurto_tp)

In [10]:
hurto_tp

,Comuna,Año,Extorsión,Homicidio,Hurto a persona,Hurto a residencia,Hurto de carro,Hurto de moto,Hurto de semoviente,Autobus,...,Casado(a),Divorciado(a),Soltero(a),Unión marital de hecho,Viudo(a),Edad_promedio,Lugar,Bien,Hombre,Mujer
0,2.0,2004,NaN,59.0,32.0,4.0,32.0,18.0,NaN,0,...,3,0,0,1,0,35.0,Vía pública,Peso,6,2
1,5.0,2004,NaN,85.0,274.0,34.0,372.0,282.0,NaN,0,...,0,0,1,0,0,45.0,Vía pública,Peso,2,0
2,10.0,2004,2.0,165.0,1690.0,116.0,668.0,578.0,NaN,0,...,0,0,1,0,0,40.0,Vía pública,Peso,2,0
3,11.0,2004,NaN,65.0,968.0,218.0,844.0,392.0,NaN,0,...,0,0,0,1,0,38.0,Vía pública,Peso,2,0
4,12.0,2004,NaN,37.0,218.0,72.0,380.0,230.0,NaN,0,...,0,0,2,0,0,45.0,Vía pública,"[Peso, Sin dato]",4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,16.0,2022,43.0,24.0,2997.0,347.0,81.0,378.0,NaN,103,...,34,16,72,28,3,38.0,Bus de servicio público,Celular,68,93
314,60.0,2022,22.0,26.0,463.0,80.0,27.0,215.0,1.0,5,...,0,5,12,1,0,36.0,Vía pública,Celular,14,4
315,70.0,2022,8.0,7.0,152.0,16.0,4.0,34.0,NaN,1,...,0,0,3,1,0,38.0,Bus de servicio público,Celular,2,2
316,80.0,2022,12.0,6.0,264.0,53.0,16.0,155.0,2.0,19,...,9,0,6,8,0,39.0,Bus de servicio público,Celular,8,15
317,90.0,2022,3.0,5.0,374.0,63.0,16.0,49.0,NaN,17,...,3,0,13,7,5,42.0,Bus de servicio público,Celular,6,22

In [6]:
from data_quality import medevic_c
mede_victimas = medevic_c(mede_victimas)

In [7]:
mede_victimas

,Comuna,Año,Mujeres accidentadas,Hombres accidentados,Acompañante de motocicleta,Ciclista,Conductor,Motociclista,Pasajero,Peatón,Atropello,Caida Ocupante,Choque,Incendio,Otro,Volcamiento,Edad accidente
0,1.0,2014,190,406,81,10,12,237,25,231,256,94,140,1,85,20,28.0
1,2.0,2014,169,388,75,17,7,232,28,198,228,73,164,0,71,21,29.0
2,3.0,2014,407,955,229,15,21,651,89,357,400,219,495,1,186,61,29.0
3,4.0,2014,522,1256,253,32,43,982,107,361,440,274,732,0,268,64,31.0
4,5.0,2014,797,1997,410,24,67,1815,169,309,397,526,1211,0,564,96,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,50.0,2021,1,4,1,0,1,2,1,0,0,0,2,0,0,3,33.0
163,60.0,2021,91,200,58,10,5,168,11,39,47,50,107,0,54,33,31.0
164,70.0,2021,13,40,12,2,2,27,1,9,13,5,15,0,11,9,30.0
165,80.0,2021,52,121,24,10,6,83,20,30,38,17,88,0,19,11,31.0
166,90.0,2021,10,50,8,2,4,37,5,4,4,3,28,0,13,12,32.0